<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BFE1BAC265ACC7C00A9FCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFE1BC2265ACC7D00A9FCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BFE1BCD265ACC7D00A9FCF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
